{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - Формы (POST).</div>
    <div>Список сделанных страниц:</div>
    <div>
        <a href="/lab4/div-form">Деление</a>
        <a href="/lab4/mul-form">Умножение</a>
        <a href="/lab4/sum-form">Сложение</a>
        <a href="/lab4/sub-form">Вычитание</a>
        <a href="/lab4/pow-form">Возведение в степень</a>
        <a href="/lab4/tree">Деревья</a>
        <a href="/lab4/login">Авторизация</a>
        <a href="/lab4/register">Регистрация</a>
        <a href="/lab4/fridge">Холодильник</a>
        <a href="/lab4/beer-order">Заказ пива</a>
    </div>
{% endblock %}