<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name %}{{ name }}{% else %}Аноним{% endif %}. Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if numlab %}Лабораторная работа {{ numlab }}{% endif %} <br>
        {{ name }}, {{ group }}, {{ course }}
    </header>
    <main>
        5 + 2 = {{ 5 + 2 }}<br>
        11 &#215 28 = {{ 11 * 28 }}<br>
        3258 - 759 = {{ 3258 - 759 }}<br>
        8452 &divide 793 = {{ 8352 / 793 }}<br>
        45<sup>8</sup> = {{ 45 ** 8 }}<br>
    </main>
    <footer>
        &copy;
        {% if name %}
            {{ name }},
        {% else %}
            Аноним,
        {% endif %} 
        {% if name %}
            {{ group }}, 
        {% else %}
            Кто-то с ФБ,
        {% endif %} 
        {% if name %}
            {{ course }},
        {% else %}
            Неизвестный курс,
        {% endif %}  
        2025,<br> 
        Лабораторная работа {{ numlab }}
    </footer>
</body>
</html>