<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Франк Владилав. Лабораторная работа 2</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа {{ numlab }} <br>
        {{ name }}, {{ group }}, {{ course }}
    </header>
    <main>
        основной контент
    </main>
    <footer>
        &copy; {{ name }}, {{ group }}, {{ course }}, 2025,<br> Лабораторная работа {{ numlab }}
    </footer>
</body>
</html>