{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>Список пива</h1>

    <table>
        <thead>
            <tr>
                <th colspan="2">Название</th>
                <th>Крепкость</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody id="beer-list"></tbody>
    </table>

    <script>
        fillBearList();
    </script>

    <div>
        <button onclick="addBear()">Добавить пиво</button>
    </div>
{% endblock %}