{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
<style>
.modal {
    display: none;
    z-index: 100;
    box-shadow: 3px 3px 5px black;
    background: white;
    width: 400px;
    left: 50%;
    top: 220px;
    margin-left: -200px;
    position: absolute;
    padding: 20px;
}
.error-message {  /* Было error-massage, исправляем на error-message */
    color: #dc2626;
    font-size: 14px;
    font-weight: 500;
}
</style>
{% endblock %}

{% block main %}
    <h1>Список пива</h1>

    <table>
        <thead>
            <tr>
                <th colspan="2">Название</th>
                <th>Крепкость</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody id="beer-list"></tbody>
    </table>

    <script>
        fillBeerList();
    </script>

    <div>
        <button onclick="addBeer()">Добавить пиво</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название пива на русском:
            <input type="text" id="title-ru">
        </label><br>

        <label>
            Название пива на оригинальном языке:
            <i>(если пиво русское, оставьте поле пустым)</i>
            <input type="text" id="title">
        </label><br>

        <label>
            Крепкость (%):
            <input type="number" id="year" step="0.1" min="0" max="100">
        </label><br>

        <label>
            Описание:
            <textarea id="description" rows="4" cols="40"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>

        <button onclick="sendBeer()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>
{% endblock %}