{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<h1>База знаний</h1>

<p>
    Пользователь:
    {% if current_user.is_authenticated %}
        {{ current_user.login }}
    {% else %}
        Anonymous
    {% endif %}
</p>

<div class="navigation">
    {% if not current_user.is_authenticated %}
        <a href="/lab8/login">Вход</a>
        <a href="/lab8/register">Регистрация</a>
        <a href="/lab8/articles">Все статьи</a>
    {% endif %}

    {% if current_user.is_authenticated %}
        <a href="/lab8/articles">Все статьи</a>
        <a href="/lab8/articles/create">Создать статью</a>
        <a href="/lab8/logout">Выйти</a>
    {% endif %}
</div>
{% endblock %}
